.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root,
.MuiMenuItem-root .MuiMenuItem-gutters .MuiButtonBase-root .css-1km1ehz {
  color: #2e2e2e !important;
  font-weight: bold;
}

.css-1x51dt5-MuiInputBase-input-MuiInput-input,
.css-1jz6lpv-MuiTypography-root,
.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input {
  color: #6b6b6b !important;
}
